{
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "arrow-parens": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/control-has-associated-label": 0,

    "no-console": 0,
    "object-curly-newline": 0,
    "max-len": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-multi-comp": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
